{% extends 'base.html.twig' %}

{% block title %}Projet Covid{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div>   
            	{% if session.username != null %}
		            <h1>Bonjour et bienvenue sur notre site {{ session.username }} !</h1>
	            {% else %}
		            <h1>Bonjour et bienvenue sur notre site !</h1>
	            {% endif %}
            <p>Sur celui ci vous pourrez voir les gens infectés autour de vous.</p>
        </div>
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

