{% extends 'base.html.twig' %}

{% block title %}Projet Covid{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div>   
            {% if session.username != null %}
		        <h1>Bonjour et bienvenue sur notre site {{ session.username }} !</h1>
	        {% else %}
	            <h1>Bonjour et bienvenue sur notre site !</h1>
            {% endif %}
            <small>Sur celui ci vous pourrez voir les gens infectés autour de vous.</small>
        </div>
    <input type="hidden" name="latitude" id="input_latitude" value="{{ session.user.latitude }}">
    <input type="hidden" name="longitude" id="input_longitude" value="{{ session.user.longitude }}">
    <div id="map" style="width: 80vw;height:50vh;"></div>    
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/home/map.js"></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEL-cn5562d5KhQsEWHmSECVi1TNEkYCk&callback=initMap&v=weekly"
      async
    ></script>



    


{% endblock %}
