{% extends 'base.html.twig' %}

{% block title %}Projet Covid{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div>
            <h1>Bonjour et bienvenue sur notre site !</h1>
            <p>Sur celui ci vous pourrez voir les gens infectés autour de vous.</p>
        </div>
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

