{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}  
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/auth/auth.css">
{% endblock %}

{% block main %}
<div>
    <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Inscription</h3>
			</div>
			<div class="card-body">
				<form action="/signup" method ="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-address-card"></i></span>
						</div>
						<input name="firstname" type="text" class="form-control" placeholder="Prénom" id="input_firstname">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="far fa-address-card"></i></span>
						</div>
						<input name="lastname" type="text" class="form-control" placeholder="Nom" id="input_lastname">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-mail-bulk"></i></span>
						</div>
						<input name="mail" type="text" class="form-control" placeholder="Adresse mail" id="input_mail">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input name="login" type="text" class="form-control" placeholder="Login" id="input_login">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input name="password" type="password" class="form-control" placeholder="Mot de passe" id="input_password">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input name="confirm_password" type="password" class="form-control" placeholder="Confirmez le mot de passe" id="input_confirm_password">
					</div>

					<div class="form-group">
						<input type="submit" value="Je m'inscris" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a href="/signin">Connexion</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--

<html>

	<body>
		<div class="container">
			<form action="/signup" method="POST" id="auth_form">

            <div class="row">
				<div class="input-field col s3">
					<input placeholder="Confirm Password" id="input_confirm_password" type="password" class="validate" name="confirm_password">
					<label for="input_confirm_password">Password</label>
				</div>
			</div>
				<input type="submit" value="Sign up" class="btn">
			</form>
		</div>
	</body>
</html>-->
{% endblock %}