{% extends 'base.html.twig' %}

{% block title %}Groupes{% endblock %}

{% block stylesheets %}  
  <link rel="stylesheet" href="css/group/group.css">
{% endblock %}

{% block main %}

<button class="btn btn-primary" id="btn_create_group">Créer un groupe</button>
  
<div class="container" id="form-create-groupe" style="display:none;">
  <form action="/group" method ="POST">
    <div class="form-group">
      <label for="input_groupname">Nom du groupe</label>
      <input type="text" name="groupName" class="form-control" id="input_groupname" placeholder="Mon groupe d'amis">
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
    <a class="btn btn-danger" id="btn_cancel" style="color:white;">Annuler</a>
  </form>
</div>


<div class="container">
  <div class="row">
    {% if groups %}
      {% for group in groups %}
      
        <div class="col-md-6 col-lg-3 col-sm-12">
          <a href="{{ '/group/' ~ group.id }}">
            <div class="card">
              <div class="card-header">
                <h3>{{ group.name }}</h3>
              </div>
              <div class="card-body">
                <div class="tab-content mt-3">
                  <div id="description">
                    <p class="card-text">{{ group.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      
      {% endfor %}
	  {% else %}
		  <div class="alert alert-danger">Vous n'appartennez a aucun groupe</div>
	  {% endif %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$('#btn_create_group').on('click', function (e) {
  $('#form-create-groupe').show();
})
$('#btn_cancel').on('click', function (e) {
  $('#form-create-groupe').hide();
})
</script>

{% endblock %}