{% extends 'base.html.twig' %}

{% block title %}Groupes{% endblock %}

{% block stylesheets %}  
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/group/group.css">
{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
	      <h3>{{ group.name }}</h3>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#description" id="link_description">Description</a>
          </li>
          <li class="nav-item">
             <a class="nav-link"  href="#chat" id="link_chat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#membres" id="link_membres">Membres</a>
          </li>
          {% if is_admin == 1 %}
          <li class="nav-item">
            <a class="nav-link" href="#membres" id="link_membres">Ajouter un membre</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="card-body">
        <p id="content_description" class="card-text" >{{group.description}}</p>
        <div id="content_chat" style="display:none;">
          <p>Voici la liste des messages</p>
        </div>
        <div id="content_membres" style="display:none;">
          {% for membre in membres %}
            <span class="btn btn-primary">{{ membre.username }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/group/group.js"></script>

{% endblock %}